/*BACK TO TOP*/

.backtotop
{
    position: fixed;
    right: 5px;
    bottom: 30px;
    width: 40px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.26);
    font-size: 13px;
    border-radius: 5px;
    padding: 1px;
    color: #333;
    
}

.backtotop:hover
{
    color: #9c6b0f;
}

.backtotop:active
{
    color: #d4af37;
}