/*ALL ABOUT FOOTER*/
.footer
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.322);
    height: 40px;
}

.section4Bottom
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #afae9c27;
}

.column1
{
    display: block;
    width: 250px;
    justify-content: justify;
}

.column1 p
{
    text-align: justify;
    font-size: 14px;
    letter-spacing: -0.5px;
}

.aboutPageP
{
    margin-top: 15px;
}


.column1 img
{
    width:50%;
    height: auto;
    margin: 0 60px;
}

ul li
{
    list-style: none;
}

.row1-7
{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
}

.row3-7
{
    margin-top: 20px;
}
.row3-7 .shipping
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5px;
}

.shipping img
{
    width: 42px;
    height: 25px;
    margin: none;
}

.cards img
{
    width: 60px;
    height: 30px;
    display: flex;
    margin: 5px;
}

.cards img:hover
{
    transform: scale(105%);
    border: 1px solid grey;
    transition: 0.1s;
    border-radius: 3px;
}

.sub
{
    font-size: 14px;
    text-decoration: none;
    color: #533c0f;
}

.sub a
{
    color: #533c0f;
    text-decoration: none; 
}

.sub a:hover, .Explore:hover
{
    color: #d6961f;
    transition: 0.2s;
}

.column2, .column3
{
    width: 180px;
}

.column7
{
    width: 250px;
    margin-bottom: 10px;
}

.column2
{
    margin-left: 10px;
}


.socialMedia img
{
    width: 12%;
    height: auto;
    margin: 5px;
}

.socialMedia img:hover
{
    transform: scale(120%);
    transition: 0.1s;
}

.Explore
{
    color: #8b6b2e;
    text-decoration: none;
}

.section5
{
    border: 1px solid #333;
    border-radius: 8px;
    width: 35%;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}
.subscribe
{
    display: block;
    padding: 10px;
    border: 1px solid rgba(155, 151, 151, 0.877);
    border-radius: 5px;
    width: 300px;
}

.subscribe:hover
{
    transform: scale(105%);
    transition: 0.2s ease-in-out;
}

.subscribe input
{
    border-radius: 3px;
    padding: 3px;
}

.subscribe button
{
    background-color: rgba(240, 198, 81, 0.767);
    border-radius: 3px;
    padding: 3px;
}

.subscribe button:hover
{
    cursor: pointer;
    background-color: #cca04f;
    color: #333;
}
.p1, .subscribe li
{
    text-align: justify;
    font-size: 14px;
    color: #504f4f;
    letter-spacing: -0.5px;
}

.p2
{
    text-align: justify;
    font-size: 12px;
    color: #6b6b6bea;
    letter-spacing: -0.5px;
}   

.shipping img
{
    border-radius: 4px;
}
.shipping img:hover
{
    transform: scale(105%);
    transition: 0.1s;
    border: 1px solid grey;
}

