/*HEADER*/
    /*-logo*/

#mainHeader
{
    /*border-bottom: 2px solid rgb(90, 84, 84);*/
    position:relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(1px);
}
.imgLogo
{
    width: 250px;
    height: auto;
    margin: 10px;
    background: transparent;
    mix-blend-mode: multiply;
    opacity: 0.8;
    filter: drop-shadow(0 2px 6px rgba(0,0,0,0.25));
    padding: 10px;
}

.imgLogo:hover
{
    transform: scale(101%);
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, .2);
    border-radius: 50%;
    padding: 10px;
}

    /*-content*/
#headerContent
{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    

}

.searcher
{
    display: flex;
    flex: 1;
    max-width: 900px;
    align-items: center;
    justify-content: center; 
    
    
}


.searcher input
{
    flex: .7;
    padding: 10.5px;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
    background: #f1eeee83;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.searcher button
{
    border-radius: 0 20px 20px 0;
    background: transparent;
    padding: 3.5px 20px;
    cursor: pointer;
    font-size: 20px;
    background: #f7f5f575;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

    /*-cart, -sign in, -contact us*================/
/*SIGN IN*/
.signIn
{position: relative;
}

#addcartUpdate
{
    position: absolute;
    font-size: 100rem;
}

.signIn ul
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.signIn ul li
{
    list-style: none;
    margin-left: 20px;
}

.signIn a
{
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

.signIn a:hover
{
    color: #8b6b2e;
}
.signIn a span
{
    color: #333;
}
.signIn ul li:hover
{
    transform: scale(102%);
}

/*CATERGORIES*/
    /*category list*/
.categories
{
    display: flex;
    margin: 0;
    justify-content: center;
    border-top: 1px solid rgba(0,0,0,0.15);
    padding: 10px 3px;
    background: rgba(255, 255, 255, 0.445);
    backdrop-filter: blur(2px);
}

.categories li
{
    list-style: none;
    margin: 0 14px;
    border: none;
}

.categories li:hover
{
    transform: scale(103%);
}

.categories li a
{
    text-decoration: none;
    /*color: rgb(24, 24, 24);*/
    color: #333;
    font-weight: 500;
    padding: 4px;
}

.categories li a:hover
{
    color: #745416;
    transition: all 0.3s ease;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, .2);
    border: 0.001px solid #333;
}


