
/*HEADER*/

.headerGroup
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.headerGroup div
{
    padding: 1px 10px;
}

.pageLogoBox
{
width: 110px;
margin-left: -10px;
}


.inputBarHeader
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    margin: 0 0 5px 0;
    flex-grow: 1;
    padding: 2px;
}

.inputBarHeader input
{
    border-radius: 4px 0 0 4px;
    border: 1px solid #ddd;
    width: 85%;
    height: 35px;
}

.pageLogo
{
    width: 90%;
    height: auto;
    margin-left: -15px;
}

.fa-magnifying-glass
{
    background-color: #ccc;
    margin: 8px 8px 8px 0;
    padding: 9px;
    border-radius: 0 4px 4px 0;
}

.fa-magnifying-glass:hover
{
    cursor: pointer;
}


.cart-Log-Call-Group
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    

}

.cart-Log-Call-Group div
{
    padding: 0 20px;
    font-size: 20px;
}

.burgerIcon
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.burgerLine
{
    border: 1px solid #333;
    margin-bottom: 5px;
    width: 30px;
    border-radius: 20px;
    background-color: #333;

}





/* CART */
.cartBadge
{
    position: absolute;
    border-radius: 50%;
    background-color: red;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 1px 8px;
    font-size: 13px;
    top: -5px;
    right: 2px;
}

.cartIcon
{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.cartSidePopUpPage
{
    position: fixed;
    top: 5%;
    right: 0;
    width: 70%;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0,0.15);
    z-index: 2000;
    padding: 2px;
    cursor: default;
    transform: translateX(0);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.hideCart
{
    transform: translateX(10%);
    opacity: 0;
    pointer-events: none;
}

.cartPageHeader
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartHeaderLabel
{
    margin: 50px auto 10px auto;
    font-size: 14px;
}

.closeCartPop
{
    position: absolute;
    right: -9px;
    top: -1px;
    cursor: pointer;
    padding: 0 9px;
    border-radius: 4px;
    font-size: 23px;
    background-color: transparent;
}

.closeCartPop:hover
{
    border: 1px solid #ccc;
    background-color: #ddd;
    cursor: pointer;
}

.cartDetails
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartTotalLabel
{
    margin: 0 0 20px 0;
    font-size: 15px;
}

.cartDetails button
{
    width: 100%;
    margin: 10px 0;
    padding: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:  #ebaa31c9;
}

.cartDetails button:hover
{
    background-color:  #9c6b0f;
    color: whitesmoke;
    transform: scale(105%);
    transition: 0.1s;
    cursor: pointer;
}

.viewSideCartButton:active,
.checkoutSideCartButton:active,
.cardPaymentButton:active
{
    background-color: #d4af37;
    color: #1d1c1c;
    transform: scale(105%);
    

}

.itemsOnCartDetails
{
    position: relative;
    display: flex;
    flex-direction: column;
}

.eachCartImage img
{
    width: 60px;
    height: auto;
}

.eachCartTextDetails
{
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

.sideCartItemPrice
{
    margin: 1px 0 5px 0;
}

.sideCartItemQtyGroup
{
    display: flex;
    margin-top: 15px;
}

.sideCartItemQtyGroup span
{
    margin: 2px 5px 0 -8px;
}

.sideCartQtyInput
{
    width: 40px;
    padding: 0 4px;
}

.eachTrash
{
    visibility: hidden;
    margin: 0 8px;
    font-size: 15px;
    margin-top: 2px;
}

.fa-trash-can:hover
{
    color: red;
    cursor: pointer;
}