
/* IMAGE BANNER WITH SHOP NOW*/

.banners
{
    position: relative;
    margin-top: 10px;
}
.banners img
{
    width: 100%;
}

.bannerMessageMain
{
    position: absolute;
    top: 10%;
    left: 15px;
    background-color: whitesmoke;
    width: 90%;
    height: 6vh;
    font-size: 25px;
    text-align: center;
    padding-top: 9px;
}

.bannerMessageSub
{
    position: absolute;
    top: 33%;
    background-color: papayawhip;
    width: 80%;
    font-size: 12px;
    text-align: center;
    left: 35px;
}

#shopNowButton
{
    position: absolute;
    top:70%;
    left: 138px;
    right:138px;
}

.h2Main
{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

.mainProductsGroup
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.eachProduct
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.eachProduct img
{
    width: 100%;
    border-radius: 3px;
}

.productCaption, .price
{
    font-size: 13px;
    text-align: center;
}

.price
{
    font-weight: 700;
}

#addToCart
{
    padding: 2px 4px;
}

.viewMore
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.bottomCategoryBlock
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    border: 1px solid black;
    font-size: 13px;
}

.bottomCategoryBlock a
{
    border: 0.01px solid #333;
}
