
@media (min-width: 480px)
{


html
{
    font-size: 16px;
}

body
{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

h1 
{
    font-size: 24px;
    font-weight: 700;
}

h2 
{
    font-size: 20px;
    font-weight: 700;
}

h3
{
    font-size: 18px;
    font-weight: 600;
}

}