


/*SIGN IN PAGE*/
.signInMain
{
    display: flex;
    height: 77vh;
    align-items: center;
    justify-content: center;
    background-image: url(../images/background\ photo.png);
    background-size: cover;
    background-position: center;
    
}



.signInForm
{
    position: relative;
    width: 35%;
    border: 1px solid #333;
    padding: 3rem 3rem 2rem 3rem;
    display: block;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2000px);
}

.signInForm:hover
{
    box-shadow: -5px 5px 4px rgba(0,0,0,0.2);
    transform: scale(100.75%);
    transition: 0.2s;
}

.signInForm img
{
    display:block;
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.signInForm p
{
    font-size: 12px;
}

.signInForm h3
{
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

.labels
{
    display: flex;
    flex-direction: row;
    width:100%;
}

.labels label
{
    width: 100px;
    margin: 0 10px;
}

#password
{
    width: 300px;
}

.labels i
{
    margin-left: 5px;
}

.labels input
{
    width: 100%;
    border-radius: 4px;
    height: 24px;
    border: 0.5px solid #333;
}

.checkbox
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 14px;
    font-size: 14px;
}

.noAccount
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.noAccount p
{
    margin: 0 4px;
}

.noAccount a
{
    color:#533c0f;
}

.noAccount a:hover
{
    transform: scale(102%);
    transition: 0.2s;
    color: papayawhip;
    border: 1px solid papayawhip;
    background: #333;
    padding: 5px 10px;
    border-radius: 5px;
}
#togglePassword
{
    margin-left: 6px;
}
#togglePassword:hover
{
    cursor: pointer;
}

#togglePassword:active
{
    color: red;
}

#usernameMessage, #passwordMessage
{
    text-align: center;
    padding: 10px 2px;
    color: red;
}

#signInButton
{
    display: flex;
    margin: 10px auto;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    background-color: #d4af37;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#signInButton:hover
{
    transform: scale(104%);
    cursor: pointer;
    color: papayawhip;
    background-color:#1a1a1a;
    transition: all 0.2s ease;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, .2);
}
