*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}




/*SPECIAL DEALS*/
.sdBanner
{
    background-image: url(../images/Specialdeal-Banner2-cropped.png);
    background-size: cover;
    height: 40vh;
    margin: 20px;
    border-radius: 7px;
}


.specialdeals
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 20px;
}
.dealsImg
{
    position: relative;
    padding: 15px;
}

.dealsImg:hover
{
    color: #8b6b2e;
}

.dealsImg img
{
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.dealsLabel
{
    text-align: center;
    font-size: 1.2rem;
}

.prices
{
    display: flex;
    justify-content: center;
}

.then
{
    color: #333;
    text-decoration:line-through;
    margin: 4px 5px;
    font-size: 1.1rem;
}

.now
{
    color: red;
    font-weight: 700;
    margin: 4px 5px;
    font-size: 1.1rem;
}

/*
.addtocart
{
    margin: 20px 70px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 9px;
    background-color: #ebba31c9;
}*/
.addtocart
{
    display: flex;
    margin: 10px auto;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    background-color: #d4af37;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.addtocart:hover
{
    transform: scale(104%);
    cursor: pointer;
    color: papayawhip;
    background-color:#1a1a1a;
    transition: all 0.2s ease;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, .2);
}

.dealsImg img:hover
{
    transform: scale(104%);
    cursor: pointer;
    color: #df960e;
    border: 1px solid #333;
    padding: 1px;
    transition: all 0.2s ease;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, .2);
}

.addtocart:hover
{
    transform: scale(104%);
    transition: all 0.2s ease;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, .2);
    cursor: pointer;
    color: papayawhip;
    background-color: #3d2b1f;
    border: 1px solid papayawhip;
}

.salegroup
{
    position: absolute;
    top: 15px;
    right: 15.5px;
    background-color: rgba(240, 4, 4, 0.719);
    padding: 5px;
    border-radius: 7px;
}

.salegroup:hover
{
    color: papayawhip;
    font-weight: bold;
    transition: 0.1s;
}

.sale, .discount
{
    color: papayawhip;
}

.updateCart
{
    text-align: center;
    color: red;
}

