*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    color: var(--DARK-GRAY);
    overflow-x: hidden;
}

:root
{
    /*MAIN COLORS*/
    --LIGHT-GRAY:  rgba(194, 189, 189, 0.575); /*for BG*/
    --DARK-GRAY: #1d1c1c; /*for TEXT*/
    --WHITESMOKE: whitesmoke;
    --PAPAYAWHIP: papayawhip;
    --GOLDEN-BROWN: #8b6b2e;
    --DARK-YELLOW:  #9c6b0f; /*for HOVERS*/
    --MID-YELLOW:  #d4af37; /*for active clicks*/
    --MID-YELLOW-2: #ebaa31c9; /*for BUTTONS*/
    --DARK-RED: #e21010e1;
    --SEMI-DARG-GRAY: #333; /*for hover text*/


    /*SHADOW*/    /*-3px 3px 4px */
    --MY-BOX-SHADOW:rgba(0, 0, 0, .2);

}

a
{
    text-decoration: none;
    color: inherit;
}

#addToCartPopUp
{
    display: none;
    position: fixed;
    background-color: rgb(2, 197, 2);
    padding: 1px 5px;
    color: black;
    border-radius: 3px;
    z-index: 2000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
}

@keyframes popAndFade {
    0% { opacity: 0; transform: translate(-50%, -40%) scale(0.8); }
    20% { opacity: 1; transform: translate(-50%, -50%) scale(1.1); }
    80% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
    100% { opacity: 0; transform: translate(-50%, -60%) scale(0.9); }
}
.fadePop
{
    animation: popAndFade 1s ease-in-out forwards;
}