/*UTENSILS*/
*
{
    scroll-behavior: smooth;
}

.path
{
    display: flex;
}

.path a, .path span
{
    margin: 10px;
    text-decoration: none;
    color: #333;
}

.path a:hover
{
    transform: scale(102%);
    color:#8b6b2e;
}

.utensilsOptions ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.utensilsOptions li
{
    list-style: none;
    margin: 0 30px;
}

.utensilsOptions a
{
    text-decoration: none;
    font-size: 18px;
}

.utensilsOptions li:hover
{
    transform: scale(102%);
}

.utensilsOptions a:hover
{
    transition: 0.2s;
    color: #8b6b2e;
}





.utensilsLabel
{
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #333;
}

.utensil, .wineGlass
{
    position: relative;
}

.utensil img
{
    width: 100%;
    height: 42vh;
    margin-bottom: 5rem;
}

.wineGlass img
{
    width: 100%;
    height: 390px;
    margin-bottom: 5rem;
}

.wineglassLabel
{
    text-align: center;
    font-size: 4rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
    color: #333;
}

.utensilGroup, .wineglassGroup
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 22px;
}

.utensilGroup img, .wineglassGroup img
{
    width: 100%;
    display: block;
    border-radius: 8px;
    margin-bottom: 10px;
}



.utensilGroup img:hover, .wineglassGroup img:hover
{
    transform: scale(103%);
    transition: 0.2s;
    border: 1px solid #333;
    padding: 1px;
    box-shadow: 0 3px 6px #333;
    cursor: pointer;
}

.utensilGroup figure:hover, .wineglassGroup figure:hover
{
    color: #8b6b2e;
}

.imgLabel
{
    font-size: 1.3rem;
    text-align: center;
}

.price
{
    margin-bottom: 30px;
}

.utensilBannerLabel, .wineglassBannerLabel
{
    position: absolute;
    top: 80px;
    background-color: #f1ecece1;
    font-size: 2.5rem;
    margin-left: 30px;
    padding: 30px;
    border-radius: 5px;
}

.utensilP1, .wineglassP1
{
    background-color: rgba(221, 179, 62, 0.616);
    width: 85%;
    border-radius: 3px;
    padding: 20px 10px 20px 10px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

.utensilP2, .wineglassP2
{
    font-size: 2rem;
    width: 100%;
}

.viewmore
{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.viewmoreButton
{
    /*
    position: absolute;
    bottom: -50px;
    font-size: 1.3rem;
    left: 570px;
    border: 0.1px solid rgb(100, 99, 99);
    padding: 6px 10px 6px 10px;
    font-family: "Nunito", sans-serif;
    border-radius: 8px;
    letter-spacing: -1px;
    cursor: pointer;
    background-color: rgb(216, 177, 115);*/
    position: absolute;
    font-family: "Nunito", sans-serif;
    bottom: -50px;
    font-size: 1.3rem;
    left: 570px;
    display: flex;
    margin: 10px auto;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    background-color: #d4af37;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.viewmoreButton:hover
{
    cursor: pointer;
    transform: scale(105%);
    color: papayawhip;
    border: 1px solid papayawhip;
    transition: 0.15s;
    background-color: #333;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, .2);
}

